html, body{
	padding: 0;
	margin: 0;
}

.toggle_btn{
	margin-right: 10px;
	height: 30px;
	width: 30px;
	position: relative;
	float: right;
	margin-top: 5px;
	cursor: pointer;
}

.toggle_btn span{
	height: 3px;
	background-color: #ffffff;
	position: absolute;
	width: 100%;
	top: 20px;
	left: 0;
}

.toggle_btn span:before{
	content: '';
	height: 3px;
	background-color: #ffffff;
	position: absolute;
	width: 100%;
	top: -10px;
	left: 0;
}

.toggle_btn span:after{
	content: '';
	height: 3px;
	background-color: #ffffff;
	position: absolute;
	width: 100%;
	top: 10px;
	left: 0;
}

.menu_responsive{
	height: 70px;
	background-color: blue;
}

.menu_responsive a{
	color: #ffffff;
	text-align: center;
	padding-top: 30px;
	text-decoration: none;
}

.logo{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
}

.nav_responsive{
	margin-left: -200px;
	transition-duration: 0.2s;
}

.nav_open{
	margin-left: 0;
	transition-duration: 0.2s;
}