@charset "UTF-8";

/* font-family: 'Ubuntu', sans-serif; */
/*
rouge foncé: #E74C3C
orange: #E7A45E

*/

body, html {
	padding: 0;
	margin: 0;
}

body{
	font-family: 'Ubuntu', sans-serif;
}

a, a:hover{
	text-decoration: none;
	color: #ffffff;
}

.container-fluid{
	padding: 0;
}

.separator{
	height: 3px;
	width: 5%;
	border: none;
	box-shadow: none;
	background-color:#E7A45E; 
}

.btn-custom{
	background-color: #E74C3C;
	color: #ffffff;
}

.btn-orange{
	background-color: #E7A45E;
	color: #ffffff;
}
/* header */

.navbar{
	background-color: #E74C3C;
}

.navbar-dark .navbar-text{
	color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link{
	color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover{
	color: #E7A45E;
}

.logo{
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	float: left;
}

.logo:hover{
	color: #E7A45E;
}

/* banner */
#ban{	
	background: url(../img/ban-paysage.jpg) no-repeat center center fixed;
	display: table;
	position: relative;
	width: 100%;
	background-size: cover;
	padding-top: 10%;
	padding-bottom: 10%;
}

.inner-banner{
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.inner-banner h1{
	color: #ffffff;
	text-shadow: 1px 1px 5px #000;
}

/* about */

#about{
	text-align: center;
	padding-top: 5%;
}

#CV{
	text-align: center;
	margin-bottom: 5%;
}
/* A propos */


.box > .icon { text-align: left; position: relative; }
.box > .icon > .image { position: relative; z-index: 2; margin: auto; width: 45px; height: 45px; border: 2px solid #E7A45E; line-height: 45px; border-radius: 50%; background: #E7A45E; vertical-align: middle; text-align: center; }
/*.box > .icon:hover > .image { background: #333; }*/
.box > .icon > .image > i { font-size: 20px !important; color: #fff !important; }
/*.box > .icon:hover > .image > i { color: white !important; }*/
.box > .icon > .info { margin-top: -24px; background-color: #fff; border: 2px solid #E74C3C; padding: 25px 0 15px 0; border-radius: 5px;}
/*.box > .icon:hover > .info { background: rgba(0, 0, 0, 0.04); border-color: #e0e0e0; color: white; }*/
.box > .icon > .info > h3.title { font-size: 1.5rem; color: #222; font-weight: 500; text-align: center; }
.box > .icon > .info > p { font-size: 1rem; color: #000; line-height: 1.5em; margin: 20px;}
.box > .icon > .info > ul { font-size: 1rem; color: #000; line-height: 1.5em; margin: 20px;}

/*.box > .icon:hover > .info > h3.title, .box > .icon:hover > .info > p, .box > .icon:hover > .info > .more > a { color: #222; }*/
.box > .icon > .info > .more a { font-size: 12px; color: #222; line-height: 12px; text-transform: uppercase; text-decoration: none; }
/*.box > .icon:hover > .info > .more > a { color: #fff; padding: 6px 8px; background-color: #4466e4; }*/
.box .space { height: 30px; }
.icon { margin-top: 1rem; margin-bottom: 1rem; }

/* Progress Bar */

.progress {
    position: relative;
	height: 25px;
	margin: 20px;
}
.progress-bar{
	background-color: #E7A45E;
}
.progress-type {
	margin: 20px;
}

/* mesTravaux */

#mesTravaux{
	padding-top: 5%;
}

.mesTravaux{
	background-color: #eeeeee;
	text-align: center;
	padding-bottom: 5%;
}

/* Slider mes travaux */

.card{
	margin-top: 2rem;
}
.card-body{
	background-color: #E74C3C;
	height: 350px;
}
.card-footer{
	background-color: #E74C3C;
	border: none;
	padding: 0rem 0rem 1.5rem 0rem;
}
.card-custom {
  overflow: hidden;
  min-height: 615px;
  box-shadow: 0 0 15px rgba(10, 10, 10, 0.3);
}
.card-custom-img {
  height: 200px;
  min-height: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-color: #E74C3C;
}
.img-logo{
	background-size: 80%;
}
.card-title{
	color: #ffffff;
	text-align: center;
	font-family: 'Satisfy', cursive;
	font-size: 30px;
}
.card-custom-img{
	background-color: #d14538;
}
/* First border-left-width setting is a fallback */
.card-custom-img::after {
  position: absolute;
  content: '';
  top: 161px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-top-width: 40px;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 545px;
  border-left-width: calc(575px - 5vw);
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-left-color: inherit;
}

.slider_paragraph{
	color: #ffffff;
	text-align: left;
	margin: 0;
}

/* contact */
.footer{
	background-color: #E74C3C;
	padding-bottom: 2%;
	display: block;
}

#contact{
	color: #ffffff;
	text-align: center;
	padding-top: 5%;
}

.formContact{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

input{
	margin-bottom: 20px;
}

.formContact .btn{
	background-color: #E7A45E;
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

textarea{
	resize: vertical;
}

.paragraphe_footer{
	color: #ffffff;
	display: flex;
	justify-content: center;
	font-size: 0.8em;
}

.footer i{
	color: #E7A45E;
	text-shadow: 2px 5px 8px #272634;
}

.social-networks {
	display: flex;
	justify-content: space-around;
	padding: 5% 0;
}