@import url('https://fonts.googleapis.com/css?family=Roboto');


body{
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-family: 'Roboto', sans-serif;
}
h1, h2{
  margin:0;
  padding:0;
}
div{
	margin:0;
	padding:0;
}
.game{
	width: 100%;
	height: 80vh;
	position: relative;
	background-image: url("./ressources/Views/salleTp/1.png");
	background-size: 100% 100%;
	background-position: center;
	display: flex;
	justify-content: center;
}
.game .areas{
	position: absolute;
	width: 100%;
	height: 100%;
}
.game .areas .area{
	position: absolute;
	opacity: 1;
	cursor: pointer;
}

div .phone{
	width: 20%;
	height: 100%;
	background-color: blue;
	display: none;
}

.game .computer{
	width: 100%;
	height: 100%;
	background: #eee;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.game .container{
	display: flex;
	flex-direction: column;
}

.game .container input{
	margin: 0.5em 1em;
	padding: 0.5em 1em;
	border-radius: 5px;
	border: solid 1px #bbb;
}

.game .postit{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.game .postit .line{
	flex: 1;
	display: flex;
	flex-direction: row;
}

.game .postit .line .el{
	flex: 1;
	background: blue;
}

.game .postit .line .empty{
	background: none !important;
}

.game .chest{
	width: 100%;
	height: 100%;
	background: #eee;
	position: relative;
	flex-direction: column;
	justify-content: center;
}

.game .chest .line{
	display: flex;
	flex-direction: row;
	width: 100%;
}

.game .chest .line input{
	flex: 1;
	margin: 0;
}

.UI{
	display: none !important;
}

.UI .close{
	width: 4vw;
	height: 4vw;
	line-height: 4vw;
	color:#fff;
	background: red;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
}

.digicode{
	width: 100%;
    height: 100%;
    background: #eee;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.digicode .line{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-content: center;
	text-align: center;
}

.digicode .line .btn{
	flex: 1;
	margin: 1em;
	padding: 0.5em;
	background: #dddddd;
	user-select: none;
	cursor: pointer;
}

.digicode .code div{
	display: inline-block;
}

.mobile{
	width: 100%;
    height: 100%;
    background: #eee;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.mobile .container{
	width: 100%;
	justify-content: center;
	align-content: center;
	flex-direction: row;
}

.mobile img{
	width: fit-content;
}

.switch{
	width: 100%;
    height: 100%;
    background: #eee;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.switch .container{
	width: 100%;
	height: 95%;
	display: flex;
}

.switch .line{
	display: flex;
	flex-direction: row;
}

.switch .line div{
	flex: 2;
	height: 45px;
	margin-top: 2em;
}

.red{
	background: red;
}

.black{background:black;}
.blue{background:blue;}
.white{background:white;}
.green{background:green;}
.yellow{background:yellow;}

.switch .line .cabledeux{
	flex: 1;
	background: #eee !important;
	cursor: pointer;
}

.edt{
	width: 100%;
    height: 100%;
    background: #eee;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.edt img{
	width: 50%;
	height: auto;
}

.hud{
	width: 100%;
	height: 20vh;
	display: flex;
}
.notTemperature{
	width: 90%;
	height: 100%;
	background-color: red;
}
.temperature{
	width: 10%;
	height: 100%;
	
}
.dial{
	width: 100%;
	height: 80%;
	display: block;
	background-image: url("./ressources/textures/dialogue.jpg");
	background-size: 100% 100%;
	background-position: center;
}

.dial p{
	line-height: 16vh;
	color: #fff;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
}

.toolbox
{
	width: 100%;
	height: 20%;
	background-color: purple;
	display: flex;
}
.roomName{
	width: 30%;
	height: 100%;
	line-height: 4vh;
	background-image: url("./ressources/textures/room.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.dial p, .roomName{
	margin:0;
	height:100%;
	text-align: center;
	color: #fff;
}

.inventory{
	width: 70%;
	height: 100%;
	background-image: url("./ressources/textures/inventaire_1case.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

.inventory .item{
	padding-left: 4px;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center;
	width: 4vh;
    height: 4vh;
	display: inline-block;
}

.imgTemp{
	width: 100%;
	height: 100%;
	background-image: url("./ressources/textures/thermo_1sur3.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;	
}