

*{
    font-family: 'Roboto', sans-serif;
}


body
{
	margin: 5px 0px ;
	padding: 0 ;
	text-align: justify ;
	background: #eee ;
}

header#entete{

	text-align: center;
	background: no-repeat url(logo.png)  ;
	background-position-x: 25%;
	background-size: 9%;
	height:auto;

}



header#entete h1 a{

	list-style-type: none ;
	text-decoration: none ;
	font-weight: bold ;
	color: #000000

}

footer{
	text-align: center;
}



nav {

	list-style-type: none ;
	padding: 0; margin: 0;
	text-align: center; 
	height: 40px ;
	background-image:linear-gradient(#C10000,#f10000);

}


nav li {
	display: inline;
	list-style: none;

}


nav a {
	display:inline-block;
	margin: 0px 0px;
	padding: 0px 8px ;
	width: auto ;
	border-right: 2px solid #FFFFFF ;
	letter-spacing: 2px ;
	font-weight: bold ;
	line-height: 40px ;
	text-decoration: none ;
	color: #fff ;
	font-size: 1.2em ;
	
}


ul#menu li a:hover
{
	background: #740000 ;
}

header{

}


main{
	padding: 20px 75px;


}

img{
	display: block;
    margin-left: auto;
	margin-right: auto ;
	margin-top: 15px;
	margin-bottom: 15px;
}

section.principal{
	background-color: #fff ;
	border-radius: 10px;
	padding: 10px 35px 10px 35px;
	margin: 10px;
}


